Repository parca-dev/parca, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parca-dev/maintainers, @parca-dev/frontend-maintainers, @parca-dev/backend-maintainers, @parca-dev/agent-maintainers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @parca-dev/maintainers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js    @parca-dev/frontend-maintainers
*.ts    @parca-dev/frontend-maintainers
/ui     @parca-dev/frontend-maintainers

*.go @parca-dev/backend-maintainers

/pkg/debuginfo     @parca-dev/agent-maintainers
/pkg/symbol        @parca-dev/agent-maintainers
/pkg/symbolizer    @parca-dev/agent-maintainers

package.json
pnpm-lock.yaml
/go.mod
/go.sum
Dockerfile*
.github/workflows/*

Moved the setup-pnpm action to use the commit id instead of version
  .github/workflows/build-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql-analysis-go.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/go-lint.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/snap.yml
  .github/workflows/ui-publish-components.yml
  .github/workflows/ui.yml
  ui/README.md
Owners: @parca-dev/frontend-maintainers

Remove grafana plugins
  .prettierignore
  .prettierrc
  ui/.eslintignore
  ui/package.json
  ui/packages/app/grafana-datasource-plugin/.github/workflows/ci.yml
  ui/packages/app/grafana-datasource-plugin/.github/workflows/release.yml
  ui/packages/app/grafana-datasource-plugin/.gitignore
  ui/packages/app/grafana-datasource-plugin/CHANGELOG.md
  ui/packages/app/grafana-datasource-plugin/LICENSE
  ui/packages/app/grafana-datasource-plugin/README.md
  ui/packages/app/grafana-datasource-plugin/jest.config.js
  ui/packages/app/grafana-datasource-plugin/package.json
  ui/packages/app/grafana-datasource-plugin/src/ConfigEditor.tsx
  ui/packages/app/grafana-datasource-plugin/src/QueryEditor.tsx
  ui/packages/app/grafana-datasource-plugin/src/datasource.ts
  ui/packages/app/grafana-datasource-plugin/src/img/parca.svg
  ui/packages/app/grafana-datasource-plugin/src/img/screenshots/datasource-config.png
  ui/packages/app/grafana-datasource-plugin/src/module.ts
  ui/packages/app/grafana-datasource-plugin/src/plugin.json
  ui/packages/app/grafana-datasource-plugin/src/types.ts
  ui/packages/app/grafana-datasource-plugin/tsconfig.json
  ui/packages/app/grafana-panel-plugin/.github/workflows/ci.yml
  ui/packages/app/grafana-panel-plugin/.github/workflows/release.yml
  ui/packages/app/grafana-panel-plugin/.gitignore
  ui/packages/app/grafana-panel-plugin/CHANGELOG.md
  ui/packages/app/grafana-panel-plugin/LICENSE
  ui/packages/app/grafana-panel-plugin/README.md
  ui/packages/app/grafana-panel-plugin/jest.config.js
  ui/packages/app/grafana-panel-plugin/package.json
  ui/packages/app/grafana-panel-plugin/src/ParcaPanel.tsx
  ui/packages/app/grafana-panel-plugin/src/img/parca.svg
  ui/packages/app/grafana-panel-plugin/src/img/screenshots/panel-config.png
  ui/packages/app/grafana-panel-plugin/src/img/screenshots/panel.png
  ui/packages/app/grafana-panel-plugin/src/module.ts
  ui/packages/app/grafana-panel-plugin/src/plugin.json
  ui/packages/app/grafana-panel-plugin/src/types.ts
  ui/packages/app/grafana-panel-plugin/tsconfig.json
  ui/packages/shared/profile/src/index.tsx
  ui/yarn.lock
Owners: @parca-dev/maintainers, @parca-dev/frontend-maintainers

Added the missing packages
  ui/packages/shared/components/package.json
  ui/yarn.lock
Owners: @parca-dev/frontend-maintainers

Remove unused imports
  ui/packages/shared/profile/src/index.tsx
Owners: @parca-dev/frontend-maintainers

Removing the custom Grafana plugins in the favour of the core plugins (#4567)
  .prettierignore
  .prettierrc
  ui/.eslintignore
  ui/package.json
  ui/packages/app/grafana-datasource-plugin/.github/workflows/ci.yml
  ui/packages/app/grafana-datasource-plugin/.github/workflows/release.yml
  ui/packages/app/grafana-datasource-plugin/.gitignore
  ui/packages/app/grafana-datasource-plugin/CHANGELOG.md
  ui/packages/app/grafana-datasource-plugin/LICENSE
  ui/packages/app/grafana-datasource-plugin/README.md
  ui/packages/app/grafana-datasource-plugin/jest.config.js
  ui/packages/app/grafana-datasource-plugin/package.json
  ui/packages/app/grafana-datasource-plugin/src/ConfigEditor.tsx
  ui/packages/app/grafana-datasource-plugin/src/QueryEditor.tsx
  ui/packages/app/grafana-datasource-plugin/src/datasource.ts
  ui/packages/app/grafana-datasource-plugin/src/img/parca.svg
  ui/packages/app/grafana-datasource-plugin/src/img/screenshots/datasource-config.png
  ui/packages/app/grafana-datasource-plugin/src/module.ts
  ui/packages/app/grafana-datasource-plugin/src/plugin.json
  ui/packages/app/grafana-datasource-plugin/src/types.ts
  ui/packages/app/grafana-datasource-plugin/tsconfig.json
  ui/packages/app/grafana-panel-plugin/.github/workflows/ci.yml
  ui/packages/app/grafana-panel-plugin/.github/workflows/release.yml
  ui/packages/app/grafana-panel-plugin/.gitignore
  ui/packages/app/grafana-panel-plugin/CHANGELOG.md
  ui/packages/app/grafana-panel-plugin/LICENSE
  ui/packages/app/grafana-panel-plugin/README.md
  ui/packages/app/grafana-panel-plugin/jest.config.js
  ui/packages/app/grafana-panel-plugin/package.json
  ui/packages/app/grafana-panel-plugin/src/ParcaPanel.tsx
  ui/packages/app/grafana-panel-plugin/src/img/parca.svg
  ui/packages/app/grafana-panel-plugin/src/img/screenshots/panel-config.png
  ui/packages/app/grafana-panel-plugin/src/img/screenshots/panel.png
  ui/packages/app/grafana-panel-plugin/src/module.ts
  ui/packages/app/grafana-panel-plugin/src/plugin.json
  ui/packages/app/grafana-panel-plugin/src/types.ts
  ui/packages/app/grafana-panel-plugin/tsconfig.json
  ui/packages/shared/components/package.json
  ui/packages/shared/profile/src/index.tsx
  ui/yarn.lock
Owners: @parca-dev/maintainers, @parca-dev/frontend-maintainers

Synced the lock file
  ui/pnpm-lock.yaml
Owners: none

Build failure fixed
  ui/packages/shared/utilities/src/time.ts
Owners: @parca-dev/frontend-maintainers

Fixed missing dependencies
  ui/packages/shared/components/package.json
  ui/packages/shared/hooks/package.json
  ui/pnpm-lock.yaml
Owners: none

Type check and lint errors fixed
  ui/package.json
  ui/packages/app/web/package.json
  ui/packages/shared/components/package.json
  ui/packages/shared/hooks/package.json
  ui/packages/shared/profile/package.json
  ui/packages/shared/utilities/package.json
  ui/pnpm-lock.yaml
Owners: none

Changed the workflow order to run typecheck before lint as that shows more useful errors earlier
  .github/workflows/ui.yml
Owners: none

Storybook build fixed
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Fix test and add a reset legend button
  pkg/query/columnquery_test.go
  pkg/query/flamegraph_arrow_test.go
  pkg/query/flamegraph_table_test.go
  ui/packages/shared/profile/src/ProfileIcicleGraph/IcicleGraphArrow/ColorStackLegend.tsx
Owners: @parca-dev/backend-maintainers, @parca-dev/frontend-maintainers

Use version from env vars
  .github/workflows/build-test.yml
Owners: none

Updated github workflows to use pnpm version from env vars
  .github/workflows/build-test.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql-analysis-go.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/go-lint.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/snap.yml
  .github/workflows/ui-publish-components.yml
  .github/workflows/ui.yml
Owners: none

Lockfile synced
  ui/pnpm-lock.yaml
Owners: none
